.carousel_class {
  margin: 0 auto;
  width: 90%;
}

.slick_slide {
  height: 240px;
  padding-left: 2px;
  padding-right: 2px;
}

.slick-prev:before, .slick-next:before {
  color: grey;
}

.slider {
  display: none;
}

.slider.slick-initialized {
  display: block;
}
