html, body {
  box-sizing: border-box;  /* this property prevents overlapping borders */
}

html, body, input, label, .toolbar, .header, .details {
  width: 100%;
}

body {
  overflow: auto;  /* if text extends beyond window, a scrollbar is added */
}

.toolbar {
  overflow: visible;  /* default value, but specified here purposefully as dropdowns fail without this property */
}

/*modal-content and event-form used to manage size of modal and portioning. Space on the side for picture and whatever may be necessary*/

#event-modal-content {
  width: 700px;
}

#event-form {
  width: 400px;
}

#eventModalTitle {
  border: none;
}

#h1month, #month {
  font-weight: bold;
  text-align: center;
}

.event-details {
  display: flex;
  flex-direction: row;
}

#event-image {
  width: 30%;
  padding-right: 10px;
}

#event-information {
  width: 60%;
  word-wrap: break-word;
  padding-left: 10px;
}

#showEvent {
  align-self : flex-end;
  width: 20%;
  margin-left: 5px;
  margin-right: 5px;
}

/*Use next two to align the button at the top of the form*/
#showAttending {
  align-self : flex-end;
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
}

#attending {
  align-self: flex-end;
  width: 30%;
}

.container-fluid {
  width: 90%;
}

#modalPicture {
  max-width: 100%;
  height: auto;
}

.modal, .modal-content {
  /*width: 100%;*/
}

.signup-ul {
  display: table;
  margin: 0 auto;
}

.signup-li {
  display: list-item;
  list-style-type: none;
}

.signupText {
  text-align: left;
}

.header {
  /*border-color: green;*/
  overflow: visible;  /* default value, but specified here purposefully as dropdowns fail without this property */
  overflow: inherit;  /* body set to auto, so auto */
}

.details {
  border-color: blue;
  overflow: inherit;  /* this may need to change to 'visible' if we keep a dropdown here.. */
}

.ok-button {
  visibility: hidden;
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}
