<%
	event.date_start = new Date(event.start);
	event.date_end = new Date(event.end);
%>

	<div class="event-details" id="eventInfo" style="width:100%;">
		<div id="event-image">
			<img src="img/otter1.jpg" id="modalPicture">
		</div>
		<div id="event-information">
			Location: <%= event.streetAddress %>, <%= event.city %>, <%= event.statePrefix %> <%= event.zip %><br /><br/>
			Start Date: <%= event.date_start.toLocaleString() %></br>
			</br>
			End Date: <%= event.date_end.toLocaleString() %></br>
			</br>
			Description:  <%= event.description %><br/><br/>
			<div>
				<a href="<%= event.url %>" class="btn btn-primary"><i class = "icon-calendar"></i> More info</a>
			</div>
		</div>

	</div>
