html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box; /* this property prevents overlapping borders */
}

body {
  /* a "%" is the percentage with respect to the elements parent. "*/
  /*background-color: green;*/
  border: medium solid purple;
  overflow: auto; /* if text extends beyond window, a scrollbar is added */
}

.toolbar {
  /*background-color: blue;*/ /* This is effectively meaningless... Nav brings on its own color */
  border: medium solid cyan;
  overflow: visible; /* default value, but specified here purposefully as dropdowns fail without this property */
  width: 100%;
}

.header {
  /*background-color: black;*/
  border: medium solid yellow;
  overflow: inherit;
  width: 100%;
}

.details {
  /*background-color: cyan;*/
  border: medium solid gold;
  /*overflow: auto;*/
  /*width: 100%;*/
}
