html, body {
  height: 100%;
  width: 100%;
}

.container {
  /* a "%" is the percentage with respect to the elements parent. "*/
  background-color: white;
  border-color: purple;
  border-style: solid; /* default style is 'none' */
  border-width: medium;
  padding: 0;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.toolbar {
  background-color: blue;
  border-color: cyan;
  border-style: solid;
  border-width: medium;
  height: 10%;
  overflow: inherit;
}

.header {
  background-color: green;
  border-color: yellow;
  border-style: solid;
  border-width: medium;
  height: 40%;
  overflow: inherit;
}

.details {
  background-color: cyan;
  border-color: gold;
  border-style: solid;
  border-width: medium;
  height: 50%;
  overflow: scroll;
}

.carousel_class {
  width: 90%;
  margin: 0px auto;
}

.slick_slide {
  width: 250px;
}
